{% load static %}
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">
<title>Python basico</title>
<header>
    <tr>
      <td><a class="nav" href=" http://127.0.0.1:8000/colecoes/">Coleções</a></td>
      <td><a class="nav"  href="http://127.0.0.1:8000/lacos-de-repeticao ">laços de repetição</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/condicionais/">Condicionais</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/funcoes/ ">Funções</a></td>
      <td><a class="nav" href=" http://127.0.0.1:8000/modularizacao/">Modularização</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/classes/">Classes</a></td>
    </tr> 
      <h1 class="center"> Python basico</h1>
  </header>    
<h2 class="p-titulo7"> Classes  </h2>
<p>Se usa - se o  class  para definir um objeto em python , bem parecido com funçoes</p>
<h4>Class nome_do_objeto( ):</h4>
<p>Pelo menos inicialmente , pois logo em seguida dentro da indetaçao será o seguinte comando</p>
<h4 class="codigo">Class nome_do_objeto( ):</h4>
<pre class="codigo" >        Def __init__(self):</pre>
<p>def será para definir dessa vez para definir o objeto , o __init__ é usado para dar as caracteristicas ao objeto  , e o self é usado como parametro para referi a si mesmo , no caso o objeto</p>
<p>Agora será as caracteristicas do objeto </p>
<h4 class="codigo">Class nome_do_objeto( ):</h4>
<pre class="codigo" >       Def __init__(self):
                self.cor = " vermelho"
                self.forma = "cilindro"</pre>
<p>Depois guarda em uma variavel o objeto pois assim pode - se referir e manipula -lo,  e assim depois podendo acessando propriedades expecificas</p>
<h4 class="codigo">Objeto = nome_do_objeto( ) :</h4>
<h4 class="codigo">Print(objeto.cor)</h4>
<p>mostre só a propriedade cor</p>
<h3>Resultado</h3>
<h4 class="codigo">Vermelho</h4>
<p>Um objeto será um molde que você cria , exemplo ao criar um carro , existe um padrao , rodas, portas , vidros e etc . Então assim criará esse molde com essas caracteristicas .  <br>
Ao criar um novo objeto você poder herdar tudo que há no que foi criado , ou seja você não definirá as propriedades , pois o padrao , o molde ja foi criado</p>
<p>Assim criando um objeto novo que herda do antigo ,  só terá que criar novas caracteristicas as se for necessario o uso de um objeto que herde basta procurar sobre quando necessario</p>

<a href=" http://127.0.0.1:8000/modularizacao/ "><button>Anterior</button></a> 