{% load static %}
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">
<title>Python basico</title>
<header>
    <tr>
      <td><a class="nav" href=" http://127.0.0.1:8000/colecoes/">Coleções</a></td>
      <td><a class="nav"  href="http://127.0.0.1:8000/lacos-de-repeticao ">laços de repetição</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/condicionais/">Condicionais</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/funcoes/ ">Funções</a></td>
      <td><a class="nav" href=" http://127.0.0.1:8000/modularizacao/">Modularização</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/classes/">Classes</a></td>
    </tr> 
      <h1 class="center"> Python basico</h1>
  </header>    
<h2 class="p-titulo4" >Condicionais</h2>
<p>True  e False são maneira de criar condições simples , Vou usar um exemplo que achei, simples e direto para o entendimento</p>
<h4 class="codigo">5 == 5</h4>
<p>5 é igual 5 certo ?  Então é true , verdadeiro</p>
<h3>Resultado</h3>
<h4 class="codigo">True</h4>
<h4 class="codigo" >5 == 6<h4>
<h3>Resultado</h3>
<h4 class="codigo">False</h4>
<p>Se nao da certo uma condiçao , no caso não for atendida , como resultado vai ser</p>
<h3 >False</h3>
<p>Se der certo a condiçao imposta , se for atendida , como resultado</p>
<h3>True</h3>
<p>você cria uma condiçao se for atendida ela realizará uma ação ,Essa açao deve ser definida na indentação , indentação é o espaço que se usa determinando que <br>
o um algoritimo x pertence a uma , funçao , condição, laço e etc . Se está " dentro" da identaçao quer dizer que o passo a passo   de uma funçao x será executda , condição e etc</p>
<h3>If  , impõe uma condiçao , if - se</h3>
<h4 class="codigo">If dia == chuvoso :</h4>
<p>condição a ser atendida<p>
<pre class="codigo">     Print(" que dia chuva , não poderei sair")</pre>
<p>Ação gerada<p>
<h3>Else , impõe uma condição contraria , else - caso contrario</h3>
<h4 class="codigo">Else :</h4>
<p>não precisa digitar nada alem else , pois ela será o contrario não precisa definir uma condiçao de fato<p>
<pre class="codigo" >      Print(" hoje posso sair tranquilamente")</pre>
<p>O else é como o False ele é o contrario , no True ou False só existem dois caminhos ,ou é ou não é , como uma moeda com os dois lados cara ou coroa , se for cara não vai <br>
ser coroa ,e se for coroa não vai ser cara<p>
<p>Porem com condionais como if , else , possui um terceiro caminho , no caso se não for nenhum e nenhum outro , elif , dado o exemplo anterior se fosse se fosse um dia de chuva<br> 
seria if , e o else seria um dia sem chuva , no caso seria qualquer opção menos chuva , porem com elif posso determinar assim como o if uma outra condiçao que não necessariamente precisa <p>
ser contraria como else , só mais uma opção como um segundo if ,a estrutura é parecida com a do if<p>
<a href=" http://127.0.0.1:8000/lacos-de-repeticao "><button>Anterior</button></a> 
<a href="http://127.0.0.1:8000/funcoes/ "><button>Proxímo</button></a> 