{% load static %}
<title>Python basico</title>
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">
<header>
    <tr>
      <td><a class="nav" href=" http://127.0.0.1:8000/colecoes/">Coleções</a></td>
      <td><a class="nav"  href="http://127.0.0.1:8000/lacos-de-repeticao ">laços de repetição</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/condicionais/">Condicionais</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/funcoes/ ">Funções</a></td>
      <td><a class="nav" href=" http://127.0.0.1:8000/modularizacao/">Modularização</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/classes/">Classes</a></td>
    </tr> 
      <h1 class="center"> Python basico</h1>
  </header>    
<h2 class="p-titulo5" >Funçoes</h2>
<p>Assim como print ( ) e input ( ) , são funções do python , é possivel criar funçoes e usar elas da mesma forma </p>
<h4 class="codigo" >Funcao_criada( )</h4>
<p>Para usar uma funçao criada , porem só funcione no arquivo do programa em que esta usando , se quiser importar para outros arquivos é preciso usar modularizaçao , importar de um arquivo para outro , </br> 
é possivel entender posteriormente , para criar a funçao nomeia e coloque os parametros , " dentro dela " , na indentaçao ,  está os passos a passos de como deve funcionar , algoritimo</p>
<p>Definir funçao</p>
<h4 class="codigo">Def  linha( ) :</h4>
<pre class="codigo">       Print(" - " * 35 )</pre>
<P>mostre o caractere   - 35 vezes</P>
<p>Ai só precisa escreve a funçao toda vez que quiser usar</p>
<h4 class="codigo">Linha( )</h4>
<a href=" http://127.0.0.1:8000/condicionais/ "><button>Anterior</button></a> 
<a href=" http://127.0.0.1:8000/modularizacao/ "><button>Proxímo</button></a> 