{% load static %}
<link rel = "stylesheet" href="{% static 'css/styles.css' %}">
<title>Python basico</title>
<header>
    <tr>
      <td><a class="nav" href=" http://127.0.0.1:8000/colecoes/">Coleções</a></td>
      <td><a class="nav"  href="http://127.0.0.1:8000/lacos-de-repeticao ">laços de repetição</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/condicionais/">Condicionais</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/funcoes/ ">Funções</a></td>
      <td><a class="nav" href=" http://127.0.0.1:8000/modularizacao/">Modularização</a></td>
      <td><a class="nav" href="http://127.0.0.1:8000/classes/">Classes</a></td>
    </tr> 
      <h1 class="center"> Python basico</h1>
  </header>    
<h2 class="p-titulo6" >Modularizaçao</h2>
<p>Quando necessario importar funções  especifica em outras bibliotecas do proprio python ou feita por pessoas , as  bibliotecas , os modulos.<p>
<p>A  estrutura do comando sempre vai ser<p>
<h4 class="codigo">From  nome_da_biblioteca import funcao</h4>
<p>Exemplo de modulo para usar</p>
<h4>From random import randint</h4>
<p>com a biblioteca random é possivel usar a função randint e outras , no caso randint vai gerar um numero aleatorio com base no valor maximo que for colocado<p>
<h4 class="codigo">Print(random.randint(10))</h4>
<p>Vá em random e use a função randint<p>
<p>Resultado<p>
<p>Randint vai gerar um valor aleatorio ate o 10 , e cada arquivo criado pode ser visto como um modulo/ biblioteca pois ao criar funçoes nele pode - se importa - la<p>
 para outro arquivo<p>
<h3>Arquivo_com_funcoes.py</h3>
<h3>Novo_arquivo.py</h3>
<h4 class="codigo">From aquivo_com_funcoes import linha</h4>
<h4 class="codigo">Linha()</h4>
<p>Agora pode se usar</p>
<a href="http://127.0.0.1:8000/funcoes/ "><button>Anterior</button></a>
<a href="http://127.0.0.1:8000/classes/ "><button>Proxímo</button></a> 